<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Single Spa Demo</span>
  <span class="example-spacer"></span>
  <a routerLink="users" mat-button>Users</a>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <input type="text" placeholder="Search" />
  </button>
</mat-toolbar>
