<mat-toolbar color="primary">
  <span>Single Spa Demo</span>
  <span class="example-spacer"></span>
  <a routerLink="/" mat-button>Home</a>
  <a routerLink="users" mat-button>Users</a>
  <span class="example-spacer"></span>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="legacy">
      <input
        matInput
        placeholder="Search"
        #keyword
        (input)="keywordEntered$.next(keyword.value)"
      />
    </mat-form-field>
  </form>
</mat-toolbar>
